.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}


.inspired {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}


.buttons {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
